header { 
    background: #1b1b1b; 
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); 
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 40px;
}

header h2 { 
    color: #AAAAAA;
}

#chart {
    height: 844px;
}

.currency-table th { 
    cursor: pointer;
}

.currency-table.table-striped tr > th.sorted { 
    background: #cee3f3;
}

.alert-info { 
    float:right;
}

.loader { 
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-image: url(ajax-loader.gif);
}