<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Fancy Currency</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <header>
            <div class="container">
                <h2>Fancy Currency</h2>
            </div>
        </header>

        <div class="container" ng-controller="app.ctrls.CurrencyListCtrl">
            <div class="row">
                <div class="span12">
                    <form class="well form-inline">
                        <input type="text" class="input-small" ng-model="value" placeholder="Enter Value">
                        <select ng-model="currency">
                            <option ng-repeat="currency in currencies" value="{{currency.ticker}}">
                                {{currency.name}} ({{currency.ticker}})
                            </option>
                        </select>
                        <button class="btn-primary btn" ng-click="convert()">Convert</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="span5">
                    <table class="currency-table table table-striped">
                        <tr>
                            <th ng-repeat="column in columns" ng-class="columnClass(column.field)" ng-click="setSorting(column.field)">
                                {{ columnSortingPrefix(column.field) }} {{column.title}}
                            </th>
                        </tr>
                        <tr ng-repeat="currency in currencies | orderBy : sorting.field : !sorting.asc">
                            <td>{{currency.name}}</td>
                            <td>{{currency.ticker}}</td>
                            <td>{{currency.formattedRate()}}</td>
                            <td>{{currency.formattedValue()}}</td>
                        </tr>
                    </table>
                </div>
                <div class="span7">
                    <div id="chart"></div> 
                </div>
            </div>
        </div>

        <hr>

        <script src="js/vendor/jquery-1.9.1.js"></script>
        <script src="js/vendor/bootstrap.js"></script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/highcharts.js"></script>

        <script src="js/app/main.js"></script>
        <script src="js/app/models/Currency.js"></script>
        <script src="js/app/contollers/CurrencyListCtrl.js"></script>
        <script src="js/app/db.js"></script>
    </body>
</html>